%% -*- mode: erlang -*-
{erl_opts, [debug_info]}.
{deps, []}.

{dialyzer,
 [{warnings,
   [ unmatched_returns
   , unknown
   ]}
 ]}.

{cover_enabled, true}.

{plugins, [rebar3_proper]}.

{profiles,
 [{test,
   [{deps,
     [ meck
     , proper
     ]},
     {erl_opts, [nowarn_export_all]}
   ]}
 ]}.

{shell,
 [{apps, [cbv]}
 ]}.
